<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    {% include 'icon.html' %}
    <link rel="stylesheet" href="static/css/logout.css">
    <link rel="stylesheet" href="static/css/general.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/about.css">
</head>
<body>
    {% include 'nav.html' %}
    <section class="box">
        <div class="team-member">
            <img src="static/img/suellenc.jpg" alt="Foto de Integrante 1">
            <h3>Suellen Piacenti</h3>
            <p>Jr. Information Security Engineering Analyst at Itau Unibanco.</p>
            <a href="mailto:suellencarolina29@gmail.com" target="_blank">Contact e-mail</a>
        </div>

        <div class="team-member">
            <img src="static/img/victoria.jpg" alt="Foto de Integrante 2">
            <h3>Victória Heldt</h3>
            <p>Descrição breve do integrante 2...</p>
            <a href="mailto:vic.heldt@gmail.com" target="_blank">Contact e-mail</a>
        </div>
    </section>
</body>