<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add Password</title>
    {% include 'icon.html' %}
    <link rel="stylesheet" href="static/css/logout.css">
    <link rel="stylesheet" href="static/css/general.css">
    <link rel="stylesheet" href="static/css/style.css"></head>
    <link rel="stylesheet" href="static/css/add_password.css"></head>
<body>
    {% include 'nav.html' %}
    <section class="box">
        <h2>Add Password</h2>
        <form action="/cadastrar_senha" method="post">
            <div class="form-group">
                <label for="nome_servico">Service Name:</label>
                <input type="text" list="socialMediaList" name="service_name" id="service_name">
                <datalist id="service_name">
                    {% for name in socials %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="senha">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <input type="submit" value="Save Password">
        </form>
    </section>
    
</body>