<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password Manager</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/general.css">
    <link rel="stylesheet" href="static/css/style.css">    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <section>
    <nav class="main-menu">
      <ul>
          <li>
              <i class="fa fa-bars fa-2x"></i>
            
          </li>
          <li>
              <a href="{{ url_for('home') }}">
                  <i class="fa fa-home fa-2x"></i>
                  <span class="nav-text">
                     Home
                  </span>
              </a>
            
          </li>
          <li class="has-subnav">
              <a href="{{ url_for('add_password') }}">
                  <i class="fa fa-key fa-2x"></i>
                  <span class="nav-text">
                      Add Password
                  </span>
              </a>
              
          </li>
          <li class="has-subnav">
              <a href="{{ url_for('generate_passwd') }}">
                 <i class="fa fa-plus fa-2x"></i>
                  <span class="nav-text">
                      Generate Password
                  </span>
              </a>
              
          </li>
          
          <li>
              <a href="{{ url_for('about_us') }}">
                 <i class="fa fa-info fa-2x"></i>
                  <span class="nav-text">
                      About Us
                  </span>
              </a>
          </li>
      </ul>

      <ul class="logout">
          <li>
              <a href="{{ url_for('profile') }}">
                    <i class="fa fa-user fa-2x"></i>
                   <span class="nav-text">
                       Profile
                   </span>
               </a>
          <li>
             <a href="{{ url_for('logout') }}">
                   <i class="fa fa-power-off fa-2x"></i>
                  <span class="nav-text">
                      Logout
                  </span>
              </a>
          </li>  
      </ul>
  </nav>
      <h1>Password Manager</h1>

      <main class="mainPage">
        <div class="above-ul">
          <div class="search-bar">
            <input type="text" placeholder="Search details">
            <button type="submit" class="search-button">GO</button>
          </div>
          <button class="add-button" onclick="location.href='add_password.html'">Add new +</button>
        </div>
        <ul id="userspasswords">
          <li id="titles">
            <span class="site">Site</span>
            <span class="username">Username</span>
            <span class="password">Password</span>
            <span class="expiration">Expiration</span>
            <span class="strength">Strenght</span>
            <span class="showpassword">Show Password</span>
          </li>
          <li>
            <span class="site">www.facebook.com</span>
            <span class="username">email@example.com</span>
            <span class="password">*********</span>
            <span class="expiration">30 days</span>
            <span class="strength">Strong</span>
            <input type="checkbox" class="showpass"></input>
            <button class="showpass-mobile">NO</button>
          </li>
          <li>
            <span class="site">www.pinterest.com</span>
            <span class="username">email@email2.com</span>
            <span class="password">*********</span>
            <span class="expiration">5 days</span>
            <span class="strength">Strong</span>
            <input type="checkbox" class="showpass"></input>
            <button class="showpass-mobile">NO</button>
          </li>
          <li>
            <span class="site">www.google.com</span>
            <span class="username">googleuser</span>
            <span class="password">*********</span>
            <span class="expiration">52 days</span>
            <span class="strength">Good</span>
            <input type="checkbox" class="showpass"></input>
            <button class="showpass-mobile">NO</button>
          </li>
          <li>
            <span class="site">www.tumblr.com</span>
            <span class="username">tumblero</span>
            <span class="password">*********</span>
            <span class="expiration">64 days</span>
            <span class="strength">Strong</span>
            <input type="checkbox" class="showpass"></input>
            <button class="showpass-mobile">NO</button>
          </li>
          <li>
            <span class="site">www.twitter.com</span>
            <span class="username">twitter</span>
            <span class="password">*********</span>
            <span class="expiration">12 days</span>
            <span class="strength">Weak</span>
            <input type="checkbox" class="showpass"></input>
            <button class="showpass-mobile">NO</button>
          </li>
        </ul>
    
      </main>
      <script src="static/jsscripts.js"></script>
  </section>
</body>