<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" href="static/css/logout.css">
    <link rel="stylesheet" href="static/css/general.css">
    <link rel="stylesheet" href="static/css/style.css"></head>
<body>
    <nav class="main-menu">
        <ul>
            <li>
                <i class="fa fa-bars fa-2x"></i>
              
            </li>
            <li>
                <a href="{{ url_for('home') }}">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                       Home
                    </span>
                </a>
              
            </li>
            <li class="has-subnav">
                <a href="{{ url_for('add_password') }}">
                    <i class="fa fa-key fa-2x"></i>
                    <span class="nav-text">
                        Add Password
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="{{ url_for('generate_passwd') }}">
                   <i class="fa fa-plus fa-2x"></i>
                    <span class="nav-text">
                        Generate Password
                    </span>
                </a>
                
            </li>
            
            <li>
                <a href="{{ url_for('about_us') }}">
                   <i class="fa fa-info fa-2x"></i>
                    <span class="nav-text">
                        About Us
                    </span>
                </a>
            </li>
        </ul>
  
        <ul class="logout">
            <li>
                <a href="{{ url_for('profile') }}">
                      <i class="fa fa-user fa-2x"></i>
                     <span class="nav-text">
                         Profile
                     </span>
                 </a>
            <li>
               <a href="{{ url_for('logout') }}">
                     <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>  
        </ul>
    </nav>
    <section class="containers">
        <div class="logoutB">
            <div class="boxL1">
                <h2>Logout</h2>
                <p>Are you sure you want to leave?</p>
                <form method="POST" action="/logout_application">
                    <input type="hidden" name="confirm_logout" value="yes">
                    <input type="submit" value="Yes I'm sure">
                </form>
                <button onclick="cancelLogout()">No, I'm not sure</button>
            </div>
        </div>
        <div class="image">
            <div class="boxL2">
                <object data="static/img/Thinking face-rafiki.svg" type="image/svg+xml">
                    Seu navegador não suporta SVG.
                </object>
            </div>
        </div>
    </section>

    <script>
        // Função para cancelar o logout
        function cancelLogout() {
            window.location.href = "home.html"; // Redirecione de volta para a página restrita
        }
    </script>
</body>
</html>

